.user-profile-all {
  width: 50%;
  height: auto;
  border: 2px solid #020000;
  background-color: #fbfeff;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}

.user-profile-inside-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  
}

.user-profile-header {
  background-color:rgb(3, 138, 52);
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 24px;
}

.user-profile-all-letters {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  
}

.user-pro-letters {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-pro-letters input {
  background: transparent;
  color: #333;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 10px 0;
  margin-bottom: 20px;
  font-style: italic;
}

.user-profile-pic {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  float: right;
  border-radius: 50%;
  margin-top: -20px;
  margin-right: -20px;
  border: 2px solid #ccc;
}

.user-profile-active {
  width: 100%;
}

.user-pro-btnsection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.user-pro-btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(0, 61, 244);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.user-pro-btn:hover {
  background-color: darkgreen;
}

.user-pro-btn:active {
  background-color: white;
  border: 2px solid rgb(0, 61, 244);
  color: rgb(0, 61, 244);
}
::placeholder{
    color:#020000;
}

